{% extends 'plantilla/indexBase.html' %}
{% block content %}

<br>
<div class="container" >
    <div class="row">
      <div class="col-12">
        <div id="graficas-contenedor" style="display: flex;">
          <div class="card" style="width: 65%;">
            <div class="card-body" >
              {{graficaV | safe}}
            </div>
        </div>
          <div class="card" style="width: 35%;">
            <div class="card-body" >
              {{graficaPie | safe}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<br>
<div class="row">
    <div class="col-1"></div>
    <div class="col-10 table-responsive" id="tablas">
            <table class="table">
            <thead class="table-dark">
                <tr>
                    <th   id= "tituloC"  scope="col">#</th>
                    <th   id= "tituloC"  scope="col">Fecha Compra</th>
                    <th  id= "tituloC"  scope="col">Sucursal</th>
                    <th   id= "tituloC"  scope="col">Comprador</th>
                    <th   id= "tituloC"  scope="col">Ubicacion</th>
                    <th  id= "tituloC"  scope="col"> Valor Venta</th>
                    <th  id= "tituloC"  scope="col">Marca - Modelo</th>
                     <th  id= "tituloC"  scope="col">Color</th>
                </tr>
            </thead>
            <tbody>
                {% for item in Allventas  %}
                <tr>
                    <th scope="row"></th>
            <td>{{ item.fechaCompra|date:"Y-m-d" }}</td>
            <td>{{ item.get_sucursal_display}}</td>
            <td>{{ item.usuario.nombre }} {{ item.usuario.apellido }}</td>
            <td>{{ item.usuario.get_barrio_display}}</td>
            <td><i class="fa-solid fa-sack-dollar" style="color:rgb(57, 57, 57)"></i>  {{  item.carro_vendido.precio}}</td>
            <td>{{ item.carro_vendido.marca }}  {{ item.carro_vendido.modelo }}</td>
            <td>{{ item.carro_vendido.get_colorCarro_display }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
       
    </div>
    <div class="col-1"></div>
</div>

{% endblock %}